<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>


<body>
  

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">IMDB Movie Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/register">Register User</a>
          </div>
        </div>
      </div>
    </nav>
  <h1>{{movie[1]}}</h1>
  <div>{{company}}</div>

  <div>
    <div>Production Company: <a href="/company/{{company[1]}}">{{company[3]}}</a></div>
    <div>Genre: <a href="/genre/{{genre[0]}}">{{genre[1]}}</a></div>
    <div>Actor: 
      {% for n in actor %}
      <a href="/person/{{n[0]}}">{{n[1]}} {{n[2]}}</a> plays {{n[6]}}
      {% endfor %}
    </div>
    <div>Director: <a href="/person/{{director[0]}}">{{director[1]}} {{director[2]}}</a></div>
    <div>Movie Length: {{movie[2]}} min</div>
    <div>Release Date: {{movie[3]}}</div>
    <div>Snopsis: {{movie[4]}}</div>
  </div>

  <div>
    <h2>Reviews</h2>
    {% for n in feedback %}
    <h3>Rating: {{n[4]}}</h3>
    <div>{{n[3]}} <a href="/feedback/{{n[0]}}">DETAILS</a></div>
    <div>by <a href="/user/{{n[2]}}">user {{n[2]}}</a></div>
    {% endfor %}
  </div>

  <form method="POST" action="/movie/{{movie[0]}}/addfeedback">
    <div>Your Review: <input type="text" name="feedback"> </div>
    <div>Your Rating: <input type="text" name="rating"> </div>
    <div>Your UID: <input type="text" name="uid"></div>
    <div>Your password: <input type="text" name="password"><input type="submit" value="Submit"></div>
</form>

  <p><a href="/">Go back to index</a></p>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>


</html>